<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.help.contexts">
        <contexts file="contexts.xml" />
    </extension>
    <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="*">
            <view
                    closeable="true"
                    id="com.microsoft.azuretools.azureexplorer.views.ServiceExplorerView"
                    minimized="false"
                    moveable="true"
                    ratio="0.3"
                    relative="org.eclipse.jdt.ui.PackageExplorer"
                    relationship="right"
                    showTitle="false"
                    standalone="false"
                    visible="true">
            </view>
        </perspectiveExtension>
    </extension>
   <extension
         point="org.eclipse.ui.views">
       <view
               name="Azure Explorer"
               category="com.microsoft.azuretools"
               class="com.microsoft.azuretools.azureexplorer.views.ServiceExplorerView"
               id="com.microsoft.azuretools.azureexplorer.views.ServiceExplorerView"
               restorable="true">
       </view>
   </extension>

	<extension point="org.eclipse.ui.handlers">
        <handler
            commandId="com.microsoft.azuretools.azureexplorer.commands.ShowAzureExplorer"
            class="com.microsoft.azuretools.azureexplorer.actions.ShowAzureExplorer"/>
    </extension>

	<extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar id="com.persistent.ui.toolbar">
            <command
                commandId="com.microsoft.azuretools.azureexplorer.commands.ShowAzureExplorer"
                label="Show Azure Explorer"
                tooltip="Show Azure Explorer"
                style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

    <extension point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
